
<div class="h">

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
<style>
    .h{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>